<header>
	<a href="{{ path('app_home') }}" class="logo">Quai Antique</a>
	<nav>
		<ul>

			{% if is_granted('ROLE_ADMIN')%}
				<li>
					<a href="{{ path('dish_add') }}">Plats</a>
				</li>
				<li>
					<a href="{{ path('category_add') }}">Catégories</a>
				</li>
			{% endif %}


			{% if app.user %}
				<li>
					<a href="{{ path('app_logout') }}">déconnexion</a>
				</li>

			{% else %}
				<li>
					<a href="{{ path('app_login') }}">connexion</a>
				</li>

			{% endif %}

		</ul>
	</nav>
</header>
